In [59]:
from rapidfuzz import process, fuzz
import pandas as pd
import numpy as np
import re

In [60]:
# # Load the dataset
# df = pd.read_csv("dirty_financial_transactions.csv")

# # Take 1000 random rows
# sample_df = df.sample(n=1000, random_state=42).reset_index(drop=True)

# # Save to a new CSV file
# sample_df.to_csv("dirty_financial_transactions_1k.csv", index=False)

# print("âœ… Saved 1000-row sample to dirty_financial_transactions_1k.csv")

In [61]:

# ===============================================================
# 1ï¸âƒ£ HANDLE MISSING VALUES
# ===============================================================
def handle_missing_values(df: pd.DataFrame) -> pd.DataFrame:
    """
    Handle missing values:
    - Drop rows with missing Transaction_ID or Customer_ID.
    - Clean and convert 'Price' and 'Quantity' to numeric before filling.
    - Fill numeric columns with median.
    - Fill categorical/text columns with mode.
    Prints rows where changes occur for clarity.
    """
    df = df.copy()

    # ðŸ”¹ Identify rows with missing IDs (to drop)
    missing_ids = df[df["Transaction_ID"].isna() | df["Customer_ID"].isna()]
    if not missing_ids.empty:
        print("Rows with missing Transaction_ID or Customer_ID (will be dropped):")
        print(missing_ids)
    
    # Drop invalid ID rows
    df = df.dropna(subset=["Transaction_ID", "Customer_ID"])

    # ðŸ”¹ Special cleanup for numeric-like object columns (e.g., 'Price', 'Quantity')
    numeric_like_cols = ["Price", "Quantity"]
    for col in numeric_like_cols:
        if col in df.columns:
            df[col] = (
                df[col]
                .astype(str)
                .str.replace(r"[^0-9.\-]", "", regex=True)
            )
            df[col] = pd.to_numeric(df[col], errors="coerce")

    # ðŸ”¹ Fill missing values
    for col in df.columns:
        if col in ["Transaction_ID", "Customer_ID", "Transaction_Date"]:
            continue  # IDs handled separately and skip Date

        if pd.api.types.is_numeric_dtype(df[col]):
            null_rows = df[df[col].isna()]
            if not null_rows.empty:
                print(f"\nRows where numeric column '{col}' was filled with median:")
                print(null_rows)
            df[col] = df[col].fillna(df[col].median())

        else:
            null_rows = df[df[col].isna()]
            if not null_rows.empty:
                print(f"\nRows where categorical/text column '{col}' was filled with mode:")
                print(null_rows)
            df[col] = df[col].fillna(df[col].mode()[0] if not df[col].mode().empty else "Unknown")

    return df


# ===============================================================
# 2ï¸âƒ£ HANDLE INVALID VALUES (TYPE & RANGE)
# ===============================================================
def handle_invalid_values(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()

    # Remove symbols from Price
    if "Price" in df.columns:
        df["Price"] = df["Price"].astype(str).str.replace(r"[^0-9.\-]", "", regex=True)

    df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
    df["Price"] = pd.to_numeric(df["Price"], errors="coerce")

    # Show rows before changes
    neg_quantity_rows = df[df["Quantity"] <= 0]
    neg_price_rows = df[df["Price"] <= 0]
    non_int_quantity_rows = df[~df["Quantity"].dropna().apply(float.is_integer)]

    if not neg_quantity_rows.empty:
        print("\nRows with negative or zero Quantity (will be set to NaN):")
        print(neg_quantity_rows)
    if not neg_price_rows.empty:
        print("\nRows with negative or zero Price (will be set to NaN):")
        print(neg_price_rows)
    if not non_int_quantity_rows.empty:
        print("\nRows with non-integer Quantity (will be set to NaN):")
        print(non_int_quantity_rows)

    # Replace negative or zero values with NaN
    df.loc[df["Quantity"] <= 0, "Quantity"] = np.nan
    df.loc[df["Price"] <= 0, "Price"] = np.nan

    # Remove non-integer quantities
    df.loc[~df["Quantity"].isna(), "Quantity"] = df["Quantity"].apply(
        lambda x: x if float(x).is_integer() else np.nan
    )

    # Round price to 2 decimals
    df["Price"] = df["Price"].round(2)
    return df


# ===============================================================
# 3ï¸âƒ£ STANDARDIZE TEXT CASES
# ===============================================================
def standardize_text(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    for col in df.select_dtypes(include="object"):
        df.loc[:, col] = df[col].astype(str).str.strip().str.lower()
    # Show sample of text columns after standardization
    print("\nSample of text columns after standardization:")
    for col in ["Product_Name", "Payment_Method", "Transaction_Status"]:
        if col in df.columns:
            print(df[col].head(5))
    return df


# ===============================================================
# 4ï¸âƒ£ NORMALIZE DATE FORMATS
# ===============================================================
def normalize_dates(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    df["Transaction_Date"] = pd.to_datetime(df["Transaction_Date"], errors="coerce")
    # Format only non-null dates
    df.loc[~df["Transaction_Date"].isna(), "Transaction_Date"] = df.loc[~df["Transaction_Date"].isna(), "Transaction_Date"].dt.strftime("%Y-%m-%d")
    # Show sample after normalization
    print("\nSample Transaction_Date column after normalization:")
    print(df["Transaction_Date"].head(5))
    return df


# ===============================================================
# 5ï¸âƒ£ STANDARDIZE CATEGORICAL VALUES
# ===============================================================
def standardize_categories(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()

    payment_map = {
        "paypal": "PayPal", "pay pal": "PayPal",
        "creditcard": "Credit Card", "credit card": "Credit Card",
        "cash": "Cash",
    }

    status_map = {
        "completed": "Completed", "complete": "Completed",
        "pending": "Pending", "failed": "Failed",
    }

    product_map = {
        # Laptop variants
        "laptop": "Laptop", "lap": "Laptop", "lapto": "Laptop", "lapt": "Laptop",
        "la": "Laptop", "l": "Laptop",

        # Coffee Machine variants
        "coffee machine": "Coffee Machine", "coffee machin": "Coffee Machine",
        "coffee mach": "Coffee Machine", "coffee mac": "Coffee Machine",
        "coffee machi": "Coffee Machine", "coffee ma": "Coffee Machine",
        "coffee m": "Coffee Machine", "coffee": "Coffee Machine",
        "coffe": "Coffee Machine", "coff": "Coffee Machine", "cof": "Coffee Machine",
        "c": "Coffee Machine",

        # Tablet variants
        "tablet": "Tablet", "table": "Tablet", "tabl": "Tablet",
        "tab": "Tablet", "ta": "Tablet",

        # Smartphone variants
        "smartphone": "Smartphone", "smartphon": "Smartphone",
        "smartph": "Smartphone", "smartp": "Smartphone",
        "smartpho": "Smartphone", "smart": "Smartphone",
        "smar": "Smartphone", "sma": "Smartphone",
        "sm": "Smartphone", "t": "Smartphone", "s": "Smartphone",

        # Headphones variants
        "headphones": "Headphones", "headphone": "Headphones",
        "headpho": "Headphones", "headph": "Headphones",
        "head": "Headphones", "he": "Headphones", "h": "Headphones"
    }

    valid_products = ["Laptop", "Coffee Machine", "Tablet", "Smartphone", "Headphones"]

    def fuzzy_match(value: str, mapping: dict, valid_list: list[str], threshold: int = 70) -> str:
        """Return mapped value, fuzzy match, or original if no close match."""
        if not isinstance(value, str):
            return value
        v = value.strip().lower()
        if v in mapping:
            return mapping[v]
        match, score, _ = process.extractOne(v, valid_list, scorer=fuzz.token_sort_ratio)
        return match if score >= threshold else value

    # --- Standardize columns ---
    if "Payment_Method" in df.columns:
        df["Payment_Method"] = df["Payment_Method"].map(
            lambda x: payment_map.get(str(x).lower(), x) if pd.notna(x) else x
        )
        print("\nSample Payment_Method after standardization:")
        print(df["Payment_Method"].head(5))

    if "Transaction_Status" in df.columns:
        df["Transaction_Status"] = df["Transaction_Status"].map(
            lambda x: status_map.get(str(x).lower(), x) if pd.notna(x) else x
        )
        print("\nSample Transaction_Status after standardization:")
        print(df["Transaction_Status"].head(5))

    if "Product_Name" in df.columns:
        df["Product_Name"] = df["Product_Name"].map(
            lambda x: fuzzy_match(str(x), product_map, valid_products) if pd.notna(x) else x
        )
        print("\nSample Product_Name after standardization:")
        print(df["Product_Name"].head(5))

    return df


# ===============================================================
# ðŸ§¹ MAIN CLEANING PIPELINE
# ===============================================================
def clean_data(df: pd.DataFrame) -> pd.DataFrame:
    df = handle_missing_values(df)
    df = handle_invalid_values(df)
    df = standardize_text(df)
    df = normalize_dates(df)
    df = standardize_categories(df)
    return df


# ===============================================================
# âœ… EXECUTE PIPELINE
# ===============================================================
df = pd.read_csv("dirty_financial_transactions_1k.csv")
cleaned_df = clean_data(df)

# Save cleaned dataset
cleaned_df.to_csv("diy_dataset.csv", index=False)

print("\nâœ… Data cleaning complete! Saved to 'diy_dataset.csv'")
print(f"Total rows after cleaning: {len(cleaned_df)}")

Rows with missing Transaction_ID or Customer_ID (will be dropped):
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
36             NaN       2025-02-30       C4919      Smartphone     647.0
41          T89578       2023-13-01         NaN      Headphones     750.0
73          T14532       2025-02-30         NaN      Smartphone       7.0
78          T99090       2020-01-28         NaN  Coffee Machine     915.0
90             NaN       2021-07-17        C312               T      -2.0
..             ...              ...         ...             ...       ...
936            NaN       2023-12-11       C3855      Headphones       NaN
938            NaN       2025-02-30       C1424          Tablet       8.0
955         T50615       2023-13-01         NaN          Tablet     -10.0
985            NaN       2023-13-01       C1969          Tablet     -10.0
999            NaN       2023-13-01       C1503  Coffee Machine     732.0

                  Price Payment_Method Transaction_Status
36   177.02705971474705         PayPal                NaN
41                  NaN        pay pal          Completed
73                  NaN         PayPal                NaN
78     974.004199673276        pay pal             Failed
90   -369.3383892220736     creditcard                NaN
..                  ...            ...                ...
936            $-838.21           Cash          completed
938             $322.39    credit card          Completed
955                 NaN           Cash          completed
985             $370.81         PayPal          Completed
999                 NaN           Cash           complete

[85 rows x 8 columns]

Rows where numeric column 'Quantity' was filled with median:
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
17           T1762       2024-08-20       C2106      Headphones       NaN
57          T73692       2023-13-01       C2941      Smartphone       NaN
61          T61770       2023-13-01       C4718               T       NaN
74          T17934       2022-01-15       C2823          Tablet       NaN
75          T33609       2025-02-30       C2620     Coffee Mach       NaN
102         T82364       2022-05-16       C1199      Smartphone       NaN
126         T78469       2021-10-10       C1333          Tablet       NaN
129         T39332       2023-05-31        C957          Laptop       NaN
130         T48588       2023-12-13        C535  Coffee Machine       NaN
146          T5325       2023-13-01       C3180          Tablet       NaN
152         T41721       2023-06-13       C4174            Smar       NaN
176         T68425              NaN       C2158  Coffee Machine       NaN
201         T27919       2024-04-18       C3242      Headphones       NaN
240         T15153       2020-01-01       C2165      Smartphone       NaN
277         T56444       2022-12-12        C051             Tab       NaN
297         T72859       2023-13-01       C1074      Headphones       NaN
299         T58171       2023-13-01       C2322          Tablet       NaN
310         T16886       2024-09-18       C1740          Tablet       NaN
311         T49984              NaN       C1899      Smartphone       NaN
387          T0227       2023-13-01       C4300          Laptop       NaN
417         T30884       2023-01-09        C758  Coffee Machine       NaN
454         T94405       2024-09-09       C4469      Headphones       NaN
459         T16362       2023-13-01       C1780          Laptop       NaN
472         T93622       2025-02-30       C3590             Sma       NaN
512         T75962       2025-02-30       C2897             Tab       NaN
526         T15809       2023-13-01       C1770      Smartphone       NaN
540         T23788              NaN       C3918          Tablet       NaN
590         T80167       2023-13-01        C057             Tab       NaN
601          T9094       2021-11-16       C4734  Coffee Machine       NaN
626         T73647       2025-02-30       C1577  Coffee Machine       NaN
675         T47140       2020-12-16       C2406          Tablet       NaN
681         T34287              NaN       C1557  Coffee Machine       NaN
705         T91331       2023-13-01        C252  Coffee Machine       NaN
708         T75534       2023-13-01       C2161          Laptop       NaN
722         T55043       2025-02-30       C2672          Tablet       NaN
750         T34273       2023-13-01        C974         Smartph       NaN
766         T40039       2023-13-01       C3641          Laptop       NaN
774         T41047       2023-13-01        C866  Coffee Machine       NaN
816         T80648       2020-06-01       C1720  Coffee Machine       NaN
823         T69606       2025-02-30       C3578          Tablet       NaN
825         T84866       2023-13-01       C1046          Tablet       NaN
827         T74337              NaN       C2265      Smartphone       NaN
839         T98518       2023-13-01       C4074      Smartphone       NaN
870          T2175              NaN       C1255  Coffee Machine       NaN
880         T36138       2022-06-20        C936          Headph       NaN
892         T62661       2023-13-01       C4897          Tablet       NaN
899         T50179       2024-08-31       C2219              Ta       NaN
901          T0115       2023-13-01       C4022      Headphones       NaN
925         T42506       2025-02-30       C3976      Smartphone       NaN
930         T17774       2025-02-30        C505      Smartphone       NaN
956         T34824       2025-02-30        C290          Tablet       NaN
965         T28011       2023-13-01       C4474          Laptop       NaN

          Price Payment_Method Transaction_Status
17          NaN    Credit Card           complete
57   206.196237        PayPal           completed
61  -924.836564     creditcard             Failed
74  -595.410044    credit card           complete
75  -619.284014         PayPal          completed
102 -463.043193           Cash            Pending
126 -210.920000     creditcard                NaN
129         NaN    credit card          completed
130 -237.245608           Cash                NaN
146  936.072563    Credit Card          completed
152         NaN     creditcard             Failed
176 -189.725105         PayPal          Completed
201  155.118040           Cash            Pending
240         NaN    Credit Card             Failed
277  456.936048    credit card           complete
297  766.779230           Cash          Completed
299  312.170000           Cash             Failed
310 -373.313292         PayPal          completed
311 -269.601547    credit card          completed
387 -150.307808    Credit Card             Failed
417 -977.540000    credit card             Failed
454 -218.435636    Credit Card          Completed
459 -119.123402    credit card           complete
472         NaN    Credit Card          Completed
512 -511.277752         PayPal           complete
526         NaN     creditcard                NaN
540 -847.030232         PayPal                NaN
590 -720.910000        PayPal           completed
601   57.788109     creditcard                NaN
626 -486.997048        pay pal           complete
675  816.310917        pay pal          completed
681 -586.430000         PayPal           complete
705         NaN        pay pal           complete
708 -959.338416           Cash            Pending
722 -143.099405        PayPal                 NaN
750         NaN        PayPal                 NaN
766         NaN    Credit Card             Failed
774         NaN        PayPal                 NaN
816         NaN        pay pal          completed
823  178.290037    credit card          completed
825  277.060689     creditcard             Failed
827         NaN           Cash           complete
839 -418.142268           Cash          completed
870 -625.867182        PayPal                 NaN
880  394.507371    Credit Card          completed
892  525.327369    credit card           complete
899         NaN         PayPal           complete
901 -261.141993        pay pal            Pending
925 -104.712158         PayPal          completed
930 -316.801629         PayPal          Completed
956 -540.120000        PayPal           completed
965  827.552190        pay pal          completed

Rows where numeric column 'Price' was filled with median:
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
2           T19865       2023-13-01       C1106  Coffee Machine       5.0
3           T76700       2025-02-30       C3862  Coffee Machine       6.0
6           T84005       2025-02-30        C080      Headphones      -8.0
8           T60768       2020-08-30       C2386  Coffee Machine       2.0
9           T50075       2023-13-01       C3015          Tablet       6.0
..             ...              ...         ...             ...       ...
983         T72444       2025-02-30       C1604  Coffee Machine      -9.0
987         T90867       2020-08-03       C2788          Laptop     516.0
992         T68941       2024-12-24       C1759  Coffee Machine       9.0
994         T41077       2023-13-01        C744      Headphones      10.0
997         T78319       2023-10-08        C497      Smartphone     831.0

     Price Payment_Method Transaction_Status
2      NaN        pay pal                NaN
3      NaN           Cash             Failed
6      NaN           Cash                NaN
8      NaN     creditcard          Completed
9      NaN    Credit Card          Completed
..     ...            ...                ...
983    NaN        PayPal           completed
987    NaN     creditcard             Failed
992    NaN    credit card            Pending
994    NaN    credit card             Failed
997    NaN     creditcard             Failed

[310 rows x 8 columns]

Rows where categorical/text column 'Transaction_Status' was filled with mode:
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
2           T19865       2023-13-01       C1106  Coffee Machine       5.0
6           T84005       2025-02-30        C080      Headphones      -8.0
13          T16639       2023-13-01       C4714      Smartphone       5.0
27          T94893       2025-02-30       C1328      Headphones     141.0
28          T92732       2025-02-30       C3429        Smartpho      -1.0
..             ...              ...         ...             ...       ...
959         T56730       2025-02-30       C4839          Tablet     921.0
972         T34339       2025-02-30       C3728          Laptop       2.0
974         T52507       2020-02-16       C3140          Laptop      -2.0
975         T84700       2025-02-30       C4051      Smartphone      -4.0
986         T85627       2025-02-30       C1601      Smartphone     550.0

          Price Payment_Method Transaction_Status
2    -75.238997        pay pal                NaN
6    -75.238997           Cash                NaN
13  -796.834515        PayPal                 NaN
27   -75.238997        PayPal                 NaN
28   691.990000    Credit Card                NaN
..          ...            ...                ...
959  682.889617     creditcard                NaN
972  -75.238997        pay pal                NaN
974 -236.657045        pay pal                NaN
975  -75.238997    credit card                NaN
986  612.258939     creditcard                NaN

[151 rows x 8 columns]

Rows with negative or zero Quantity (will be set to NaN):
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
0           T75722       2022-07-21       C3456          Laptop      -9.0
4           T92992       2025-02-30        C321          Tablet      -7.0
6           T84005       2025-02-30        C080      Headphones      -8.0
10          T27702       2021-07-21       C3956          Laptop      -8.0
12          T45081       2023-13-01       C3691  Coffee Machine     -10.0
..             ...              ...         ...             ...       ...
975         T84700       2025-02-30       C4051      Smartphone      -4.0
980         T87038       2024-07-30       C4254      Smartphone      -6.0
981         T11148       2020-12-17       C1883      Smartphone      -5.0
983         T72444       2025-02-30       C1604  Coffee Machine      -9.0
996         T41131       2023-13-01       C2573      Smartphone      -4.0

          Price Payment_Method Transaction_Status
0    422.540623        PayPal           Completed
4    174.532239    Credit Card          completed
6    -75.238997           Cash          completed
10   649.308459    Credit Card            Pending
12   -75.238997    credit card           complete
..          ...            ...                ...
975  -75.238997    credit card          completed
980  944.050000           Cash          Completed
981  593.354908        PayPal           completed
983  -75.238997        PayPal           completed
996  577.585098        PayPal            complete

[290 rows x 8 columns]

Rows with negative or zero Price (will be set to NaN):
    Transaction_ID Transaction_Date Customer_ID    Product_Name  Quantity  \
1           T80185       2025-02-30        C080          Laptop       5.0
2           T19865       2023-13-01       C1106  Coffee Machine       5.0
3           T76700       2025-02-30       C3862  Coffee Machine       6.0
6           T84005       2025-02-30        C080      Headphones      -8.0
7           T80918       2023-13-01       C4989  Coffee Machine     681.0
..             ...              ...         ...             ...       ...
991         T31334       2023-13-01       C1095          Laptop       7.0
992         T68941       2024-12-24       C1759  Coffee Machine       9.0
994         T41077       2023-13-01        C744      Headphones      10.0
995         T16784       2020-03-14       C4881      Smartphone     855.0
997         T78319       2023-10-08        C497      Smartphone     831.0

          Price Payment_Method Transaction_Status
1   -773.452630    credit card          completed
2    -75.238997        pay pal          completed
3    -75.238997           Cash             Failed
6    -75.238997           Cash          completed
7   -164.936529           Cash          Completed
..          ...            ...                ...
991 -219.511100           Cash             Failed
992  -75.238997    credit card            Pending
994  -75.238997    credit card             Failed
995 -342.840873           Cash          completed
997  -75.238997     creditcard             Failed

[622 rows x 8 columns]

Sample of text columns after standardization:
0            laptop
1            laptop
2    coffee machine
3    coffee machine
4            tablet
Name: Product_Name, dtype: object
0         paypal
1    credit card
2        pay pal
3           cash
4    credit card
Name: Payment_Method, dtype: object
0    completed
1    completed
2    completed
3       failed
4    completed
Name: Transaction_Status, dtype: object

Sample Transaction_Date column after normalization:
0   2022-07-21
1          NaT
2          NaT
3          NaT
4          NaT
Name: Transaction_Date, dtype: datetime64[ns]

Sample Payment_Method after standardization:
0         PayPal
1    Credit Card
2         PayPal
3           Cash
4    Credit Card
Name: Payment_Method, dtype: object

Sample Transaction_Status after standardization:
0    Completed
1    Completed
2    Completed
3       Failed
4    Completed
Name: Transaction_Status, dtype: object

Sample Product_Name after standardization:
0            Laptop
1            Laptop
2    Coffee Machine
3    Coffee Machine
4            Tablet
Name: Product_Name, dtype: object

âœ… Data cleaning complete! Saved to 'diy_dataset.csv'
Total rows after cleaning: 915

In [62]:
# print(cleaned_df.head())
# print(df.info())
# print(cleaned_df.info())
# for i in cleaned_df.columns:
#     if isinstance(i, object):
#         print(cleaned_df[i].value_counts())

In [63]:
# ===============================================================
# a. Top-N within each group
# ===============================================================
df = cleaned_df.copy()

# Handle missing values
df["Quantity"] = df["Quantity"].fillna(0)
df["Price"] = df["Price"].fillna(0)

# Compute total sales
df["Total_Sales"] = df["Price"] * df["Quantity"]

# Group and aggregate
sales_summary = (
    df.groupby(["Product_Name", "Payment_Method"], dropna=False)["Total_Sales"]
      .sum()
      .reset_index()
)

# Sort within each product
sales_summary = sales_summary.sort_values(
    ["Product_Name", "Total_Sales"], ascending=[True, False]
)

# Get top 3 payment methods for each product
top3_by_product = (
    sales_summary.groupby("Product_Name")
    .head(3)
    .reset_index(drop=True)
)

# Display results cleanly
for product, subdf in top3_by_product.groupby("Product_Name"):
    print(f"\nðŸ“¦ {product} â€” Top 3 Payment Methods by Total Sales:")
    print(subdf[["Payment_Method", "Total_Sales"]].to_string(index=False))


# ===============================================================
# c. Conditional aggregation
# ===============================================================
df_cash = cleaned_df.copy()

# Filter for Cash payments only
df_cash = df_cash[df_cash["Payment_Method"].str.lower() == "cash"]

# Handle missing prices safely
df_cash = df_cash[df_cash["Price"].notna()]

# Compute average price per product
avg_price_by_product = (
    df_cash.groupby("Product_Name")["Price"]
    .mean()
    .round(2)
    .reset_index()
    .sort_values("Price", ascending=False)
)

print("\nðŸ’µ Average Price (Cash payments only):")
print(avg_price_by_product.to_string(index=False))


# ===============================================================
# d. Percentage Distribution
# ===============================================================
df_sales = cleaned_df.copy()

# Handle missing values
df_sales["Price"] = df_sales["Price"].fillna(0)
df_sales["Quantity"] = df_sales["Quantity"].fillna(0)

# Compute total sales per row
df_sales["Total_Sales"] = df_sales["Price"] * df_sales["Quantity"]

# Sum sales by product
product_sales = (
    df_sales.groupby("Product_Name")["Total_Sales"]
    .sum()
    .reset_index()
)

# Compute percentage contribution
total_sales_sum = product_sales["Total_Sales"].sum()
product_sales["Sales_%"] = (product_sales["Total_Sales"] / total_sales_sum * 100).round(2)

# Sort by percentage (descending)
product_sales = product_sales.sort_values("Sales_%", ascending=False)

print("\nðŸ“Š Percentage of Total Sales by Product:")
print(product_sales.to_string(index=False))


# ===============================================================
# e. Change over time
# ===============================================================
df_monthly = cleaned_df.copy()

# Ensure proper datatypes
df_monthly["Transaction_Date"] = pd.to_datetime(df_monthly["Transaction_Date"], errors="coerce")

# Handle missing values
df_monthly["Price"] = df_monthly["Price"].fillna(0)
df_monthly["Quantity"] = df_monthly["Quantity"].fillna(0)

# Compute total sales per transaction
df_monthly["Total_Sales"] = df_monthly["Price"] * df_monthly["Quantity"]

# Extract month number and name
df_monthly["Month_Num"] = df_monthly["Transaction_Date"].dt.month
df_monthly["Month_Name"] = df_monthly["Transaction_Date"].dt.strftime("%B")

# Group by month (across all years)
avg_sales_by_month = (
    df_monthly.groupby(["Month_Num", "Month_Name"])["Total_Sales"]
    .mean()
    .round(2)
    .reset_index()
    .sort_values("Month_Num")
)

print("\nðŸ“† Average Sales by Month (All Years Combined):")
print(avg_sales_by_month[["Month_Name", "Total_Sales"]].to_string(index=False))


# ===============================================================
# e. Change over time
# ===============================================================
df_sd = cleaned_df.copy()

# Drop rows with missing or invalid price/payment values
df_sd = df_sd[df_sd["Price"].notna() & df_sd["Payment_Method"].notna()]

# Group by payment method and compute standard deviation of price
std_price_by_payment = (
    df_sd.groupby("Payment_Method")["Price"]
    .std()              # standard deviation
    .round(2)           # round to 2 decimals
    .reset_index()
    .sort_values("Price", ascending=False)
)

print("\nðŸ“Š Standard Deviation of Price by Payment Method:")
print(std_price_by_payment.to_string(index=False))

ðŸ“¦ Coffee Machine â€” Top 3 Payment Methods by Total Sales:
Payment_Method  Total_Sales
   Credit Card   4504366.93
        PayPal   3292386.00
          Cash     72982.21

ðŸ“¦ Headphones â€” Top 3 Payment Methods by Total Sales:
Payment_Method  Total_Sales
   Credit Card   2410223.70
        PayPal   1302175.23
          Cash    358524.11

ðŸ“¦ Laptop â€” Top 3 Payment Methods by Total Sales:
Payment_Method  Total_Sales
   Credit Card   2625884.03
        PayPal   1866780.85
          Cash     11173.37

ðŸ“¦ Smartphone â€” Top 3 Payment Methods by Total Sales:
Payment_Method  Total_Sales
   Credit Card   3974654.06
        PayPal   2206921.59
          Cash    738708.15

ðŸ“¦ Tablet â€” Top 3 Payment Methods by Total Sales:
Payment_Method  Total_Sales
        PayPal   3900292.98
   Credit Card   3332883.09
          Cash    527724.92

ðŸ’µ Average Price (Cash payments only):
  Product_Name  Price
    Smartphone 615.74
        Laptop 578.85
        Tablet 483.77
Coffee Machine 480.97
    Headphones 433.14

ðŸ“Š Percentage of Total Sales by Product:
  Product_Name  Total_Sales  Sales_%
Coffee Machine   7869735.14    25.28
        Tablet   7760900.99    24.93
    Smartphone   6920283.80    22.23
        Laptop   4503838.25    14.47
    Headphones   4070923.04    13.08

ðŸ“† Average Sales by Month (All Years Combined):
Month_Name  Total_Sales
   January     33118.81
  February     49730.04
     March     75532.35
     April     36217.33
       May     38908.43
      June      9670.75
      July     45702.12
    August      6054.43
 September     55273.46
   October     12476.71
  November     24693.48
  December      3358.06

ðŸ“Š Standard Deviation of Price by Payment Method:
Payment_Method  Price
          Cash 275.54
   Credit Card 272.35
        PayPal 246.32